In [10]:
# Загрузка модели
from catboost import CatBoostRegressor
model = CatBoostRegressor()
model.load_model('catboost_model.cbm')

In [11]:
# Загрузка новых данных
import pandas as pd
df = pd.read_csv("sample__data.csv")

In [12]:
# Функция приведение данных в необходимый формат
def get_date_columns(df):
    df["timestamp"] = pd.to_datetime(df["timestamp"])
    df.insert(0, 'hour',  df['timestamp'].dt.hour)
    df.insert(1, 'day',  df['timestamp'].dt.day)
    df.insert(2, 'month',  df['timestamp'].dt.month)
    df.insert(3, 'year',  df['timestamp'].dt.year)
    df = df.drop("day_of_week", axis=1)
    df = df.drop("timestamp", axis=1)
    return df

In [13]:
df = get_date_columns(df)

In [14]:
df.head()

,hour,day,month,year,ground_id,is_weekend,temperature,ground_type,equipment_quality,event,season,weather
0,0,1,12,2024,1,1,-20,футбольная,5,0,Winter,небольшой снег
1,1,1,12,2024,1,1,-19,футбольная,5,0,Winter,небольшой снег
2,2,1,12,2024,1,1,-18,футбольная,5,0,Winter,небольшой снег
3,3,1,12,2024,1,1,-21,футбольная,5,0,Winter,небольшой снег
4,4,1,12,2024,1,1,-18,футбольная,5,0,Winter,небольшой снег

In [15]:
predictions = model.predict(df)

In [16]:
df["predictions"] = predictions

In [18]:
import numpy as np
# Форматируем столбцы времени
df['timestamp'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']].assign(minute=0, second=0, microsecond=0))

# Округляем predictions
df['rounded_predictions'] = np.round(df['predictions'])

# Сохраняем предсказания модели
df.to_csv('predict.csv', index=False)